*.DS_Store

# ignore Xcode compiled build folder and application.
*build
*.app

# ignore Xcode User .pbxuser and .mode1v3 files.
*.pbxuser
*.mode1v3

# ignore example xml file
example_customSettings/bin/data/mySettings.xml
example_advancedSettings/bin/data/mySettings.xml
